h1 {
  text-align: center;
  cursor: pointer;
}

h1:hover {
  text-decoration: underline;
  color: #0088cc;
}

p {
  text-align: center;
}

.javascript-hidden {
  display: none;
}

.functions-hidden {
  display: none;
}

.bool-hidden {
  display: none;
}

.query-hidden {
  display: none;
}